<a href="https://colab.research.google.com/github/Mohit-921/DataScienceDump/blob/main/ML_Gud_Funcs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import seaborn as sns
df = sns.load_dataset('tips')
#dummy dataset for visualisation

In [2]:
#1 Colorful Table

df.describe().T.style.background_gradient(cmap='Greens')
# Gives a colorful table, with higher the value-deeper the shade

In [ ]:
#2 Joining 2 dataframes
df3 = df2.join(df1)

#https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html

In [ ]:
# Check substring in coloumn

df['col_name'].str.contains('string')

#https://pandas.pydata.org/docs/reference/api/pandas.Series.str.contains.html